@import url('https://fonts.googleapis.com/css?family=Electrolize|Marmelad|Geo|Press+Start+2P');

body{
  background-color: lightyellow;
  font-family: 'Electrolize', sans-serif;

}

.PhoneticParser{
  display: block;
  text-align: center;
  height: 100%;
  padding: 12% 0 0 0;
}

.header{

  font-size: 30px;
}

.text_field{
  display: inline-block;
  font-family: 'Marmelad', sans-serif;
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 1px 1px 0px black;
  height: 25px;
  min-width: 200px;
  width: 50%; 
  border-radius: 3px;
}

.text_field:focus {
  outline: 0;
  box-shadow: 1px 1px 0px black,
              0px 6px 7px -5px black;
}

.output{
  padding: 0 5%;
  font-size: 25px;
  color: darkblue;
}
