.PhoneticParser {
  display: block;
  padding: 10% 0 0 0;
}

.header {
  font-weight: 100;
}

.text_field {
  display: block;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.4) !important;
}

.text_field:focus {
  outline: 0;
}

.output {
  font-size: 25px;
  font-weight: 500;
}
